
<mat-card class="question-card"
                    [ngClass]="quesCardAnimClass"
                    (animationend)="animEnd(ques)">
  <mat-card-header class="question-card-header">
    <img mat-card-avatar class="question-card-header-img" src="{{ques?.avatarLink}}" alt="{{ques?.name}}">
    <mat-card-title>{{ques?.title}}</mat-card-title>
    <mat-card-subtitle>{{ques?.subTitle}}</mat-card-subtitle>
    <div class="card-header-right">
      <button mat-icon-button (click)="end()">
        <i class="iconfont icon-wrong"></i>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="question-card-content">
    <p>
      {{ques?.body}}
    </p>
  </mat-card-content>
  <mat-card-actions class="question-card-actions">
    <button mat-button
                    *ngFor="let option of ques?.options;let i = index"
                    #btn
                    [class.right-option]="showRightOption && option === ques?.answer"
                    (click)="selectOption(option, btn, ques)">{{option}}</button>
    <!--TODO: Better Judgement? [ngClass]="{'right-option': showRightOption(option)}"
    https://stackoverflow.com/questions/37891752/angular2-add-class-to-item-on-click -->
    <!--The logic should be:
    Click an option -> judge -> show result by class
    The key point is each card should have its own state.

    -->
  </mat-card-actions>
</mat-card>
