//$forgive: #35e402;
$main-color: #456bd9;
$mid-color: #fff;
//$sub-color: #fff;

.top-header-toolbar {
  height: 56px;
  color: #fff;
  background-color: $main-color;
  justify-content: space-between;
}

.sidenav-container {
  min-height: 100vh;
  //margin-top: 56px;
  z-index: 1;

  .main-content {
    width: 100%;
    background-color: #fafafa;
    z-index: 1;
  }
}

.sidenav {
  width: 280px;
  height: 100vh;
  background-color: $mid-color;
  z-index: 9;

  .sidenav-logo {
    width: 100%;
    height: 96px;
    margin: 12px 0;
    line-height: 96px;
    text-align: center;
    background: url("../assets/img/angular.png") no-repeat 50% ;
    background-size: auto 100%;
  }

  .mat-list-item {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background-color: #e0e0e0;
    }

    .material-icons {
      margin-right: 16px;
    }
  }
}



