/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "assets/css/normalize.min.css";

/*Global Style*/

.txt-cut {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.loading-spinner {
  margin: 48px auto;
}

/*TODO:BUG material-icons doesn't have default width?*/
.material-icons {
  width: 24px;
}
